.my-card-content {
    padding: 16px;
    margin: 16px;
    background-color: rgb(250, 250, 250);
}

.my-card-content p {
    padding-top: .5em;
    padding-bottom: .5em;
    margin-top: .05em;
    margin-bottom: .05em;
}
